{% extends 'layout/layout.html' %}

{% block content %}
{% raw %}
<div id="app">
  <ul class="photos">
    <li class="photo-item" v-for="(photo, index) in photos" :key="photo.id">
      <button type="button" class="photo-item-btn" @click.prevent="onClick(photo.id)">
        <img :src="photo.thumbnailUrl" :alt="photo.title">
      </button>
    </li>
  </ul>

  <transition name="modal" @after-leave="afterLeave">
    <div class="modal" v-show="isShownModal">
      <div class="modal-bg" @click.prevent="hideModal"></div>
      <div class="modal-content" v-if="target">
        <transition :name="detailTransitionName" mode="out-in">
          <div class="detail" :key="target.id">
            <div class="detail-thumbnail">
              <img :src="target.thumbnailUrl" :alt="target.title">
            </div>
            <p>{{ target.title }}</p>
          </div>
        </transition>
        <button
          type="button"
          class="detail-prev"
          @click.prevent="onClickPrev"></button>
        <button
          type="button"
          class="detail-next"
          @click.prevent="onClickNext"></button>
      </div>
    </div>
  </transition>
</div>
{% endraw %}
{% endblock %}

{% block link %}
<link rel="preload" href="./js/modal.js" as="script">
<link rel="stylesheet" href="./css/modal.css">
{% endblock %}

{% block script %}
<script src="./js/modal.js" defer async></script>
{% endblock %}
