{% extends 'layout/layout.html' %}

{% block content %}
<div id="app">
  <button type="button">Button</button>
  <div class="hoge">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla repellendus ut quisquam vel qui dolorum a soluta pariatur quas quam suscipit voluptatibus possimus illum fugiat in mollitia quasi, error sit!</div>
</div>
{% endblock %}

{% block link %}
<style>
  * {
    box-sizing: border-box;
  }
  .hoge {
    width: 600px;
    padding: 50px;
    margin: 40px auto;
    /* background-color: cornflowerblue; */
  }
</style>
{% endblock %}

{% block script %}
<script>
  const btn = document.querySelector('button')
  const hoge = document.querySelector('.hoge')

  btn.addEventListener('click', event => {
    event.preventDefault()

    hoge.style.overflow = 'hidden'
  }, false)
</script>
{% endblock %}
