<meta property="fb:app_id" content="123456789">
<meta property="og:url" content="{{ URL }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ TITLE }}" itemprop="name">
<meta property="og:image" content="{{ BASE_URL }}/ogp.png">
<meta property="og:image:alt" content="{{ DESCRIPTION }}">
<meta property="og:description" content="{{ DESCRIPTION }}" itemprop="description">
<meta property="og:site_name" content="{{ TITLE }}">
<meta property="og:locale" content="ja_JP">
<meta property="article:author" content="">
