// =============================================
//  base
// =============================================
$size-font-base = 16px
$line-height-base = 1.7
$font-family-base = 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, '游ゴシック', YuGothic, sans-serif

// =============================================
//  color
// =============================================

// --------------------------------------
//  font
// --------------------------------------
$color-font = #999
$color-link = #0af
$color-link-visited = $color-link
$color-link-hover = $color-link
$color-link-active = $color-link
$color-border = #444444

// --------------------------------------
//  body background
// --------------------------------------
$color-body = #ccc

// --------------------------------------
//  selection
// --------------------------------------
$color-selection-font = #fff
$color-selection-bg = #0af

// =============================================
//  opacity
// =============================================
$opacity-hover-img = 0.7

// =============================================
//  size
// =============================================

// --------------------------------------
//  inner width
// --------------------------------------
$size-inner = 500px

// --------------------------------------
//  break point for SP
// --------------------------------------
$size-break-point = 768px

// --------------------------------------
//  z-index
// --------------------------------------
$depth = header footer
