<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# mixi: http://mixi-platform.com/ns#" itemscope itemtype="http://schema.org/Article">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no, address=no, email=no">
  <meta name="description" content="{{ DESCRIPTION }}">
  {% include "components/head/facebook-open-graph.html" -%}
  {% include "components/head/twitter-card.html" -%}
  <link rel="canonical" href="{{ CANONICAL_URL }}">
  <link rel="icon" href="/favicon.ico">
  {% block link %}{% endblock -%}
  <title>{{ TITLE }}</title>
</head>
<body>
  <main class="container mx-auto p-4">
    {%- block content %}{% endblock -%}
  </main>
  {% block script %}
    <script src="./js/app.js" async defer></script>
  {% endblock -%}
</body>
</html>
